<h2>Categories</h2>
<a href="/admin/category/add" class="btn btn-primary">Add a new category</a>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <td>{{title}}</td>
      <td><a href="/admin/category/edit/{{id}}">Edit</a></td>
      <td>
        <form class="confirm-delete" action="/admin/category/delete/{{id}}?_method=DELETE" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger">Delete</i></button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody> 
</table>