{{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{/if}}

{{#if customErrors}}
    {{#each customErrors}}
    <div class="alert alert-danger">{{text}}</div>
{{/each}}
{{/if}}


