<!--Footer-->
<footer class="text-center footer">
  <!-- Social icons -->
  <div class="pb-4">

    <i class="fa fa-facebook-f mr-3"></i>


    <i class="fa fa-twitter fa-2x mr-3"></i>



    <i class="fa fa-youtube mr-3"></i>



    <i class="fa fa-dribbble mr-3"></i>



    <i class="fa fa-pinterest mr-3"></i>



    <i class="fa fa-github mr-3"></i>



    <i class="fa fa-codepen mr-3"></i>

  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright: DeGallShop - Clayton Degallerie
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->