{{#if success_msg}}
<div class="alert alert-success msg-div">
    <p>{{success_msg}}</p>
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger msg-div">
    <p>{{error_msg}}</p>
</div>
{{/if}}