<div class="container register-form">
    <h2 class="text-center">Create an Account</h2>
    <p class="text-center">Already have an account?<a href="/users/login"> Sign in</a></p>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">

                    <form class="form-horizontal" method="POST" action="/users/register">

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa mr-1"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="name" placeholder="Enter your Name"
                                        value="{{name}}" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa mr-1"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" value="{{email}}"
                                        placeholder="Enter your Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Username</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa mr-1"
                                            aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="username" value="{{username}}"
                                        placeholder="Enter your Username" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg mr-1"
                                            aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password"
                                        placeholder="Enter your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg mr-1"
                                            aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm" id="confirm"
                                        placeholder="Confirm your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn btn-dark btn-block btn-lg login-button">Register</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>