<div class="container">
    <h1 class="text-center">Your order has been palced!</h1>
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p>Please check your email for further instructions on how to complete your
            account
            setup.</p>
        <hr>
        <p>
            Having trouble? Contact us
        </p>
        <p>
            <a class="btn btn-dark btn-sm" href="/" role="button">Continue to homepage</a>
        </p>
    </div>
</div>